pom.xml
pom.xml.asc
*jar
.DS_Store
/lib/
/classes/
/target/
.lein-deps-sum
.nrepl-port
_git-clean-changes.sh
git-add-commit.sh
/README.html
.lein-failures

# 2024-08-09: Have some private test-files, that might give errors, but keep them out of the repo.
*private*